In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [5]:
from google.colab import drive
drive.mount('/content /drive')

Mounted at /content/drive

# Loading the dataset

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Titanic-Dataset.csv')

# Handling Null Values

In [7]:
# Check for null values (1 line)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
# Fill null values for 'Embarked' with the mode(1 line)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [9]:
# Fill null values for 'Age' with the median (1 line)
df['Age'].fillna(df['Age'].median(), inplace=True)

In [11]:
# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)
df.dropna(subset=['Cabin'], axis=0, inplace=True)

In [12]:
print(df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[204 rows x 12 columns]

# Handling Duplicates

In [13]:
# Check for duplicates (1 line)
print(df.duplicated().sum())

0

In [14]:
# Drop duplicates if any (1 line)
df.drop_duplicates() #no duplications in this dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

# Handling Outliers

In [15]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers from 'Fare' using the remove_outilers function (1 line)
df = remove_outliers(df,'Fare')

# Scaling and Normalization

In [17]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)
scaler = StandardScaler()
df['Fare'] = scaler.fit_transform(df[['Fare']])
# Min-Max scaling for 'Age' (2 lines)
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(df[['Age']])
print(df[['Age', 'Fare']].describe())

              Age          Fare
count  187.000000  1.870000e+02
mean     0.437950  3.277236e-16
std      0.192562  1.002685e+00
min      0.000000 -1.519634e+00
25%      0.329793 -8.131049e-01
50%      0.430956 -1.512717e-01
75%      0.582701  5.587824e-01
max      1.000000  2.773026e+00

# Encoding Categorical Variables

In [16]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
hot_encoded_df = pd.get_dummies(df, columns=['Embarked']), pd.get_dummies(df, columns=['Sex'])
print(hot_encoded_df)

(     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin  Embarked_C  Embarked_Q  Embarked_S
1        0  PC 17599  71.2833          C85        True       False       False
3        0    113803  53.1000         C123       False       False        True
6        0     17463  51.8625          E46       False       False        True
10       1   PP 9549  16.7000           G6       False       False        True
11       0    113783  26.5500         C103       False       False        True
..     ...       ...      ...          ...         ...         ...         ...
871      1     11751  52.5542          D35       False       False        True
872      0       695   5.0000  B51 B53 B55       False       False        True
879      1     11767  83.1583          C50        True       False       False
887      0    112053  30.0000          B42       False       False        True
889      0    111369  30.0000         C148        True       False       False

[187 rows x 14 columns],      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name   Age  SibSp  Parch  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
6                              McCarthy, Mr. Timothy J  54.0      0      0
10                     Sandstrom, Miss. Marguerite Rut   4.0      1      1
11                            Bonnell, Miss. Elizabeth  58.0      0      0
..                                                 ...   ...    ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0      1      1
872                           Carlsson, Mr. Frans Olof  33.0      0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0      0      1
887                       Graham, Miss. Margaret Edith  19.0      0      0
889                              Behr, Mr. Karl Howell  26.0      0      0

       Ticket     Fare        Cabin Embarked  Sex_female  Sex_male
1    PC 17599  71.2833          C85        C        True     False
3      113803  53.1000         C123        S        True     False
6       17463  51.8625          E46        S       False      True
10    PP 9549  16.7000           G6        S        True     False
11     113783  26.5500         C103        S        True     False
..        ...      ...          ...      ...         ...       ...
871     11751  52.5542          D35        S        True     False
872       695   5.0000  B51 B53 B55        S       False      True
879     11767  83.1583          C50        C        True     False
887    112053  30.0000          B42        S        True     False
889    111369  30.0000         C148        C       False      True

[187 rows x 13 columns])